parameters:
	paths:
		- config
		- resources
		- src
		- tests
	level: 4
	ignoreErrors:
		- "#Unsafe usage of new static#"
		- "#Class BumpCore\\\\EditorPhp\\\\EditorPhp has an uninitialized readonly property \\$model. Assign it in the constructor.#"
		- "#Readonly property BumpCore\\\\EditorPhp\\\\EditorPhp::\\$time is already assigned.#"
		- "#Readonly property BumpCore\\\\EditorPhp\\\\EditorPhp::\\$model is assigned outside of the constructor.#"
		- "#Undefined variable: \\$this#"
		- "#Call to an undefined method BumpCore\\\\EditorPhp\\\\EditorPhp::getParagraphs\\(\\).#"
		- "#Variable \\$data might not be defined.#"
		- "#Unreachable statement - code above always terminates.#"
	reportUnmatchedIgnoredErrors: false
